<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos?</title>
    <link rel="stylesheet" href="../style/quemsomos.css">
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="stylesheet" href="../style/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/lampada.png">
</head>
<body>

    <header>
        <a href="./index.html"><img src="../img/logo2.png" alt="logo" id="logo"></a>
        <nav id="nav">
            <button id="btnMobile">MENU</button>
            <ul id="menu">
                <li><a href="./quemsomos.html" target="">QUEM SOMOS</a></li>
                <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
                <li><a href="./contato.html" target="">CONTATO</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="../img/sobrenos.png" alt="Sobre a empresa">
        <div>
            <h1>Quem somos?</h1>
            <p>
                Na "Mercado Rápido & Pagamento Fácil", a praticidade é o nosso diferencial. Você seleciona seus produtos desejados, passa pelo caixa virtual e, em seguida, relaxa enquanto nossa tecnologia avançada analisa sua compra. Após a conclusão da transação, nós compramos os produtos de volta de você, permitindo que você saia da loja sem se preocupar com pagamentos adicionais. É simples assim!
            </p>
        </div>
        
        <div>
            <h1>Missão</h1>
            <p>
                Nosso compromisso com a eficiência não termina na compra. Temos parcerias com os melhores fornecedores para garantir que você tenha acesso aos produtos mais recentes e de melhor qualidade. Além disso, nossa equipe dedicada está sempre pronta para ajudar e tornar sua experiência de compras ainda mais agradável.
            </p>
        </div>

        <div>
            <h1>Valores</h1>
            <ul id="a">
                <li><strong>Ética</strong> – Orienta nossa conduta, tem como finalidade o bem comum;</li>
                <li><strong>Trabalho em equipe</strong> – Colaboração e respeito aos parceiros comerciais;</li>
                <li><strong>Qualidade</strong> – Excelência do produto;</li>
                <li><strong>Inovação</strong> – Implementação de novas ideias a melhorias para nossas mercadorias;</li>
                <li><strong>Responsabilidade</strong> – Compromisso com o cliente;</li>
                <li><strong>Agilidade</strong> – Eficiência na instalação e funcionamento dos nossos produtos;</li>
            </ul>      
        </div>   
    </section>

    <footer>
        <ul>
            <li>Avenida Nove de Julho<br> n° 281 - São Paulo SP</li>
            <li>11 949339801</li>
            <li>flp.fmotta@gmail.com</li>
        </ul>
        <div>
            <img src="../img/whatsapp.png" alt="">
            <img src="../img/facebook.png" alt="">
            <img src="../img/instagram.png" alt="">
          </div>
    </footer>

<script src="../script/script.js"></script>
</body>
</html>